@charset "UTF-8";
/* text-align 글자 수평 정렬 */

#sec01>p {border: 1px solid;
width: 500px;}
.tal01 {text-align: left;}
.tal02 {text-align: center;}
.tal03 {text-align: right;}
.tal04 {text-align: justify;}

#sec01>button {
 width: 300px;	}
 

#sec02>p{border : 1px solid; width:500px;}
.tdec01 {text-decoration: overline;} 
.tdec02 {text-decoration: line-through;} 
.tdec03 {text-decoration: underline;}
.tdec04 {text-decoration: none;}
.tdec05>a {text-decoration: none;}














